html, body {
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    background-color: #ff6969;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
img{
    width: auto;
    height: auto;
    max-width: 80vmin;
    max-height: 80vmin;
    transition: all 0.1s;
    cursor: pointer;
    z-index: 1;
}
img:active{
    transform: scale(0.9);
}
#beans{
    width: 100%;
    height: 100%;
    position: absolute;
}
.rail{
    position: absolute;
    right:-30%;
    top:calc(50% - 50px);
    width: 160%;
    height: 100px;
}
.bean{
    height: 100%;
    width: 100px;
    position: absolute;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    animation-name: bean;
    animation-duration: 3s;

}
/*IE FIX*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body img{
        width: 100%;
        height: 100%;
    }
}
@keyframes bean {
    0% {left: 50%}
    100% {left:100%;transform:rotate(180deg)}
}
