html, body {
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    background-color: #ff6969;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
img{
    width: auto;
    height: auto;
    max-width: 80vmin;
    max-height: 80vmin;
    transition: all 0.4s;
    cursor: pointer;

    animation-name: wiggle;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}
.static{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.sun{
    position: absolute;
    background-image: url("assets/sun.svg");
    background-size: contain;
    background-position:center;
    width: 50vmin;
    height: 50vmin;
    top:-15vmin;
    right: -15vmin;
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.wavew{
    width: 160%;
    height: 30%;
    left: -10%;
    bottom: 0;
    position: absolute;
}
.wavew:nth-child(3){
    bottom: -5%;
    left: -30%;
}
.wavew:nth-child(4){
    bottom: -10%;
    left: -50%;
}
.wavew:nth-child(3) .wave{
    animation-delay: -2s;
}
.wavew:nth-child(4) .wave{
    animation-delay: -4s;
}
.wave{
    width: 100%;
    height: 100%;
    background-image: url("assets/wave.svg");
    animation-name: wave;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
/*IE FIX*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body img{
        width: 100%;
        height: 100%;
    }
}
@keyframes wiggle {
    0%    {transform: rotate(0deg);}
    10%   {transform: rotate(18deg);}
    12.5% {transform: rotate(-12deg);}
    15%   {transform: rotate(7deg);}
    17.5% {transform: rotate(-3deg);}
    20%   {transform: rotate(1deg);}
    22.5% {transform: rotate(0deg);}
    100%  {transform: rotate(0deg);}
}
@keyframes wave {
    0% {top: 5%;}
    25% {transform: rotate(3deg);}
    50% {top: -5%;}
    75% {transform: rotate(-3deg);}
    100% {top:5%;}
}
@keyframes pulse {
    0% {transform: scale(1)}
    50% {transform: scale(1.1)}
    100% {transform: scale(1)}
}